<ion-content [fullscreen]="true">
  <div id="container">
    <mat-card>
      <form class="example-form">
        <mat-label id="inicio_sesion">Inicio Sesion</mat-label>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="usuario" value="" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="contraseña" value="" />
        </mat-form-field>
        <button mat-raised-button color="primary">Iniciar Sesion</button>
      </form>
    </mat-card>
  </div>
</ion-content>
